In [1]:
import pandas as pd
import numpy as np

rs = 42

In [2]:
df = pd.read_csv('small.csv')
df = df.sample(frac=1, random_state = rs)
df

,LATITUDE,LONGITUDE,AGE,YEARS_WITH_COMPANY,ANNUAL_KILOMETERS,DAILY_KILOMETERS,YEARS_LICENSED,VEHICLE_YEAR,NUMBER_OF_DRIVERS,NUMBER_OF_VEHICLES,...,INCURRED_LOSS_DCPD,GENDER,DRIVER_MARTIAL_STATUS,DRIVER_TRAINING_IND,VEHICLE_AGE,YEARS_SINCE_AT_FAULT_CLAIM,YEARS_SINCE_NOT_AT_FAULT_CLAIM,YEARS_SINCE_MINOR_CONVICTION,YEARS_SINCE_MAJOR_CONVICTION,YEARS_SINCE_SERIOUS_CONVICTION
75721,43.527938,-81.890214,38.0,5.0,13000.0,6.0,19.0,2002.0,1.0,2.0,...,0,M,M,N,10.0,NaN,NaN,NaN,NaN,NaN
80184,49.152769,-83.685608,45.0,6.0,10000.0,2.0,22.0,2005.0,2.0,2.0,...,0,F,M,N,8.0,NaN,NaN,NaN,NaN,NaN
19864,42.480587,-80.046314,51.0,6.0,12000.0,7.0,31.0,2004.0,1.0,1.0,...,0,M,NaN,N,14.0,1.0,1.0,2.0,NaN,NaN
76699,44.026128,-80.476826,31.0,4.0,13000.0,11.0,11.0,NaN,1.0,1.0,...,0,M,S,N,9.0,NaN,NaN,NaN,NaN,NaN
92991,44.273795,-82.182321,54.0,7.0,11000.0,3.0,34.0,2006.0,2.0,2.0,...,0,F,M,N,9.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,47.660818,-89.606673,49.0,4.0,13000.0,13.0,30.0,2003.0,1.0,1.0,...,0,F,NaN,N,13.0,NaN,NaN,NaN,NaN,NaN
54886,48.235851,-84.884237,49.0,9.0,8000.0,4.0,29.0,2003.0,2.0,2.0,...,0,F,M,N,11.0,NaN,NaN,NaN,NaN,NaN
76820,47.948345,-80.843770,56.0,10.0,10000.0,1.0,31.0,2005.0,1.0,2.0,...,0,F,S,N,8.0,NaN,NaN,NaN,NaN,NaN
860,48.499182,-82.109138,49.0,9.0,13000.0,6.0,24.0,2006.0,2.0,2.0,...,0,F,NaN,N,9.0,NaN,NaN,NaN,NaN,NaN
15795,46.215816,-79.231296,44.0,8.0,12000.0,4.0,21.0,2006.0,2.0,2.0,...,0,F,M,N,10.0,NaN,NaN,NaN,NaN,NaN

In [3]:
for i in df.columns:
    print(i)

LATITUDE
LONGITUDE
AGE
YEARS_WITH_COMPANY
ANNUAL_KILOMETERS
DAILY_KILOMETERS
YEARS_LICENSED
VEHICLE_YEAR
NUMBER_OF_DRIVERS
NUMBER_OF_VEHICLES
PRIOR_COMPANY
DEDUCTIBLE_COLLISION
DEDUCTIBLE_COMPREHENSIVE
DEDUCTIBLE_DCPD
PAYMENT_METHOD
AT_FAULT_CLAIMS
NOT_AT_FAULT_CLAIMS
MINOR_CONVICTIONS
MAJOR_CONVICTIONS
SERIOUS_CONVICTIONS
DRIVING_EXPERIENCE
YEARS_WITH_PRIOR_COMPANY
INCURRED_LOSS_COLLISION
INCURRED_LOSS_COMPREHENSIVE
INCURRED_LOSS_DCPD
GENDER
DRIVER_MARTIAL_STATUS
DRIVER_TRAINING_IND
VEHICLE_AGE
YEARS_SINCE_AT_FAULT_CLAIM
YEARS_SINCE_NOT_AT_FAULT_CLAIM
YEARS_SINCE_MINOR_CONVICTION
YEARS_SINCE_MAJOR_CONVICTION
YEARS_SINCE_SERIOUS_CONVICTION

In [4]:
cols = ['AGE', 
        'YEARS_WITH_COMPANY',
        'DAILY_KILOMETERS',
        'YEARS_LICENSED',
        'VEHICLE_YEAR',
        'NUMBER_OF_DRIVERS',
        'NUMBER_OF_VEHICLES',
        'DEDUCTIBLE_DCPD',
        'AT_FAULT_CLAIMS',
        'NOT_AT_FAULT_CLAIMS',
        'MINOR_CONVICTIONS',
        'MAJOR_CONVICTIONS',
        'SERIOUS_CONVICTIONS',
        'INCURRED_LOSS_DCPD',
        'GENDER',
        'DRIVER_MARTIAL_STATUS',
        'DRIVER_TRAINING_IND',
        'VEHICLE_AGE']
df = df[cols]
df

,AGE,YEARS_WITH_COMPANY,DAILY_KILOMETERS,YEARS_LICENSED,VEHICLE_YEAR,NUMBER_OF_DRIVERS,NUMBER_OF_VEHICLES,DEDUCTIBLE_DCPD,AT_FAULT_CLAIMS,NOT_AT_FAULT_CLAIMS,MINOR_CONVICTIONS,MAJOR_CONVICTIONS,SERIOUS_CONVICTIONS,INCURRED_LOSS_DCPD,GENDER,DRIVER_MARTIAL_STATUS,DRIVER_TRAINING_IND,VEHICLE_AGE
75721,38.0,5.0,6.0,19.0,2002.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,M,M,N,10.0
80184,45.0,6.0,2.0,22.0,2005.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,F,M,N,8.0
19864,51.0,6.0,7.0,31.0,2004.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0,M,NaN,N,14.0
76699,31.0,4.0,11.0,11.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,M,S,N,9.0
92991,54.0,7.0,3.0,34.0,2006.0,2.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0,0,F,M,N,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,49.0,4.0,13.0,30.0,2003.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,F,NaN,N,13.0
54886,49.0,9.0,4.0,29.0,2003.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,F,M,N,11.0
76820,56.0,10.0,1.0,31.0,2005.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,F,S,N,8.0
860,49.0,9.0,6.0,24.0,2006.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,F,NaN,N,9.0
15795,44.0,8.0,4.0,21.0,2006.0,2.0,2.0,0.0,0.0,0.0,NaN,0.0,0.0,0,F,M,N,10.0

In [5]:
for i in df:
    print(i)
    print(df[i].isna().sum())

AGE
786
YEARS_WITH_COMPANY
1206
DAILY_KILOMETERS
1357
YEARS_LICENSED
1494
VEHICLE_YEAR
3792
NUMBER_OF_DRIVERS
3765
NUMBER_OF_VEHICLES
8971
DEDUCTIBLE_DCPD
9034
AT_FAULT_CLAIMS
1369
NOT_AT_FAULT_CLAIMS
13256
MINOR_CONVICTIONS
4742
MAJOR_CONVICTIONS
913
SERIOUS_CONVICTIONS
7555
INCURRED_LOSS_DCPD
0
GENDER
4485
DRIVER_MARTIAL_STATUS
4655
DRIVER_TRAINING_IND
1694
VEHICLE_AGE
3383

In [6]:
for i in df:
    print(i)
    print(df[i].isna().sum()/len(df))

AGE
0.00786
YEARS_WITH_COMPANY
0.01206
DAILY_KILOMETERS
0.01357
YEARS_LICENSED
0.01494
VEHICLE_YEAR
0.03792
NUMBER_OF_DRIVERS
0.03765
NUMBER_OF_VEHICLES
0.08971
DEDUCTIBLE_DCPD
0.09034
AT_FAULT_CLAIMS
0.01369
NOT_AT_FAULT_CLAIMS
0.13256
MINOR_CONVICTIONS
0.04742
MAJOR_CONVICTIONS
0.00913
SERIOUS_CONVICTIONS
0.07555
INCURRED_LOSS_DCPD
0.0
GENDER
0.04485
DRIVER_MARTIAL_STATUS
0.04655
DRIVER_TRAINING_IND
0.01694
VEHICLE_AGE
0.03383

In [7]:
for i in df:
    df[i].fillna(method = 'ffill', inplace=True)
    df[i].fillna(method = 'bfill', inplace=True)

C:\Users\phroz\Anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [8]:
for i in df:
    print(i)
    print(df[i].isna().sum()/len(df))

AGE
0.0
YEARS_WITH_COMPANY
0.0
DAILY_KILOMETERS
0.0
YEARS_LICENSED
0.0
VEHICLE_YEAR
0.0
NUMBER_OF_DRIVERS
0.0
NUMBER_OF_VEHICLES
0.0
DEDUCTIBLE_DCPD
0.0
AT_FAULT_CLAIMS
0.0
NOT_AT_FAULT_CLAIMS
0.0
MINOR_CONVICTIONS
0.0
MAJOR_CONVICTIONS
0.0
SERIOUS_CONVICTIONS
0.0
INCURRED_LOSS_DCPD
0.0
GENDER
0.0
DRIVER_MARTIAL_STATUS
0.0
DRIVER_TRAINING_IND
0.0
VEHICLE_AGE
0.0

In [9]:
df

,AGE,YEARS_WITH_COMPANY,DAILY_KILOMETERS,YEARS_LICENSED,VEHICLE_YEAR,NUMBER_OF_DRIVERS,NUMBER_OF_VEHICLES,DEDUCTIBLE_DCPD,AT_FAULT_CLAIMS,NOT_AT_FAULT_CLAIMS,MINOR_CONVICTIONS,MAJOR_CONVICTIONS,SERIOUS_CONVICTIONS,INCURRED_LOSS_DCPD,GENDER,DRIVER_MARTIAL_STATUS,DRIVER_TRAINING_IND,VEHICLE_AGE
75721,38.0,5.0,6.0,19.0,2002.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,M,M,N,10.0
80184,45.0,6.0,2.0,22.0,2005.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,F,M,N,8.0
19864,51.0,6.0,7.0,31.0,2004.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0,M,M,N,14.0
76699,31.0,4.0,11.0,11.0,2004.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,M,S,N,9.0
92991,54.0,7.0,3.0,34.0,2006.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,F,M,N,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6265,49.0,4.0,13.0,30.0,2003.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,F,S,N,13.0
54886,49.0,9.0,4.0,29.0,2003.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,F,M,N,11.0
76820,56.0,10.0,1.0,31.0,2005.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,F,S,N,8.0
860,49.0,9.0,6.0,24.0,2006.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,F,S,N,9.0
15795,44.0,8.0,4.0,21.0,2006.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0,F,M,N,10.0

In [10]:
for i in df:
    print(i)
    print(df[i].value_counts())

AGE
49.0    8427
48.0    8413
50.0    8219
47.0    7954
51.0    7849
        ...
11.0       1
14.0       1
9.0        1
8.0        1
19.0       1
Name: AGE, Length: 65, dtype: int64
YEARS_WITH_COMPANY
7.0     19894
8.0     17814
6.0     17209
9.0     12221
5.0     10800
10.0     6093
4.0      5598
3.0      2732
11.0     2351
0.0      1493
2.0      1376
1.0       831
12.0      785
13.0      354
14.0      194
15.0      108
16.0       73
17.0       30
18.0       19
19.0        9
21.0        8
20.0        7
23.0        1
Name: YEARS_WITH_COMPANY, dtype: int64
DAILY_KILOMETERS
5.0     12249
4.0     11575
6.0     11143
3.0     10362
7.0      9676
2.0      8179
8.0      8005
0.0      6564
9.0      5887
1.0      5659
10.0     4031
11.0     2451
12.0     1382
13.0      772
14.0      435
15.0      272
16.0      203
17.0      188
18.0      186
19.0      170
20.0      139
21.0      131
22.0       79
23.0       64
24.0       44
26.0       30
25.0       26
29.0       15
30.0        9
31.0        9
39.0        7
28.0        7
27.0        7
41.0        6
32.0        5
35.0        5
33.0        3
44.0        3
34.0        3
37.0        3
38.0        2
42.0        2
45.0        1
54.0        1
36.0        1
93.0        1
59.0        1
51.0        1
48.0        1
40.0        1
49.0        1
70.0        1
57.0        1
69.0        1
Name: DAILY_KILOMETERS, dtype: int64
YEARS_LICENSED
28.0    8144
27.0    8052
29.0    8035
26.0    7561
30.0    7414
25.0    6875
31.0    6429
24.0    5819
32.0    5182
23.0    4983
33.0    4132
22.0    4010
34.0    3245
21.0    3088
20.0    2469
35.0    2332
19.0    1807
36.0    1784
18.0    1376
37.0    1369
17.0     989
38.0     951
39.0     684
16.0     673
15.0     509
40.0     438
14.0     360
41.0     298
13.0     227
12.0     156
42.0     145
11.0      97
43.0      67
10.0      57
9.0       44
7.0       35
44.0      34
8.0       28
45.0      20
6.0       19
5.0       13
46.0      11
47.0       7
0.0        7
4.0        5
48.0       5
52.0       3
3.0        3
49.0       2
50.0       2
1.0        2
51.0       2
2.0        1
Name: YEARS_LICENSED, dtype: int64
VEHICLE_YEAR
2005.0    25716
2004.0    24390
2006.0    16436
2003.0    14116
2007.0     7085
2002.0     5770
2008.0     2127
2001.0     2088
2000.0      738
2009.0      615
1999.0      275
2010.0      181
1998.0      119
1997.0       83
2011.0       79
1996.0       51
1995.0       40
2012.0       34
1994.0       21
1993.0       13
2013.0       11
2015.0        6
2014.0        5
2016.0        1
Name: VEHICLE_YEAR, dtype: int64
NUMBER_OF_DRIVERS
1.0    68385
2.0    29489
3.0     1460
4.0      501
5.0      140
6.0       23
7.0        1
8.0        1
Name: NUMBER_OF_DRIVERS, dtype: int64
NUMBER_OF_VEHICLES
2.0    58281
1.0    37847
3.0     3837
4.0       31
5.0        3
6.0        1
Name: NUMBER_OF_VEHICLES, dtype: int64
DEDUCTIBLE_DCPD
0.0      95258
500.0     4742
Name: DEDUCTIBLE_DCPD, dtype: int64
AT_FAULT_CLAIMS
0.0    72273
1.0    27726
2.0        1
Name: AT_FAULT_CLAIMS, dtype: int64
NOT_AT_FAULT_CLAIMS
0.0    70349
1.0    28965
2.0      674
3.0       11
4.0        1
Name: NOT_AT_FAULT_CLAIMS, dtype: int64
MINOR_CONVICTIONS
0.0    86371
1.0    13582
2.0       38
3.0        5
4.0        4
Name: MINOR_CONVICTIONS, dtype: int64
MAJOR_CONVICTIONS
0.0    99343
1.0      657
Name: MAJOR_CONVICTIONS, dtype: int64
SERIOUS_CONVICTIONS
0.0    99386
1.0      614
Name: SERIOUS_CONVICTIONS, dtype: int64
INCURRED_LOSS_DCPD
0        94842
17719        6
17773        6
17838        6
18188        6
         ...
9569         1
9505         1
19692        1
17581        1
16152        1
Name: INCURRED_LOSS_DCPD, Length: 3570, dtype: int64
GENDER
F    72536
M    27464
Name: GENDER, dtype: int64
DRIVER_MARTIAL_STATUS
M    51767
S    48233
Name: DRIVER_MARTIAL_STATUS, dtype: int64
DRIVER_TRAINING_IND
N    99222
Y      778
Name: DRIVER_TRAINING_IND, dtype: int64
VEHICLE_AGE
 11.0    12178
 12.0    12069
 10.0    11951
 9.0     11511
 13.0    11105
 8.0      9675
 14.0     9133
 7.0      6418
 15.0     5908
 6.0      3337
 16.0     2969
 5.0      1235
 17.0     1119
 18.0      421
 4.0       412
 19.0      172
 3.0       122
 20.0       73
 2.0        49
 21.0       44
 23.0       26
 22.0       23
 1.0        21
 24.0        8
 0.0         6
 25.0        5
-1.0         5
-2.0         2
-3.0         2
 26.0        1
Name: VEHICLE_AGE, dtype: int64

In [11]:
df.GENDER = df.GENDER.apply(lambda x: 1 if x == 'M' else 0)
df.DRIVER_MARTIAL_STATUS = df.DRIVER_MARTIAL_STATUS.apply(lambda x: 1 if x == 'S' else 0)
df.DRIVER_TRAINING_IND = df.DRIVER_TRAINING_IND.apply(lambda x: 1 if x == 'Y' else 0)
df.VEHICLE_AGE = df.DRIVER_TRAINING_IND.apply(lambda x: max(x,0))

for i in df:
    print(i)
    print(df[i].value_counts())

C:\Users\phroz\Anaconda3\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

AGE
49.0    8427
48.0    8413
50.0    8219
47.0    7954
51.0    7849
        ...
11.0       1
14.0       1
9.0        1
8.0        1
19.0       1
Name: AGE, Length: 65, dtype: int64
YEARS_WITH_COMPANY
7.0     19894
8.0     17814
6.0     17209
9.0     12221
5.0     10800
10.0     6093
4.0      5598
3.0      2732
11.0     2351
0.0      1493
2.0      1376
1.0       831
12.0      785
13.0      354
14.0      194
15.0      108
16.0       73
17.0       30
18.0       19
19.0        9
21.0        8
20.0        7
23.0        1
Name: YEARS_WITH_COMPANY, dtype: int64
DAILY_KILOMETERS
5.0     12249
4.0     11575
6.0     11143
3.0     10362
7.0      9676
2.0      8179
8.0      8005
0.0      6564
9.0      5887
1.0      5659
10.0     4031
11.0     2451
12.0     1382
13.0      772
14.0      435
15.0      272
16.0      203
17.0      188
18.0      186
19.0      170
20.0      139
21.0      131
22.0       79
23.0       64
24.0       44
26.0       30
25.0       26
29.0       15
30.0        9
31.0        9
39.0        7
28.0        7
27.0        7
41.0        6
32.0        5
35.0        5
33.0        3
44.0        3
34.0        3
37.0        3
38.0        2
42.0        2
45.0        1
54.0        1
36.0        1
93.0        1
59.0        1
51.0        1
48.0        1
40.0        1
49.0        1
70.0        1
57.0        1
69.0        1
Name: DAILY_KILOMETERS, dtype: int64
YEARS_LICENSED
28.0    8144
27.0    8052
29.0    8035
26.0    7561
30.0    7414
25.0    6875
31.0    6429
24.0    5819
32.0    5182
23.0    4983
33.0    4132
22.0    4010
34.0    3245
21.0    3088
20.0    2469
35.0    2332
19.0    1807
36.0    1784
18.0    1376
37.0    1369
17.0     989
38.0     951
39.0     684
16.0     673
15.0     509
40.0     438
14.0     360
41.0     298
13.0     227
12.0     156
42.0     145
11.0      97
43.0      67
10.0      57
9.0       44
7.0       35
44.0      34
8.0       28
45.0      20
6.0       19
5.0       13
46.0      11
47.0       7
0.0        7
4.0        5
48.0       5
52.0       3
3.0        3
49.0       2
50.0       2
1.0        2
51.0       2
2.0        1
Name: YEARS_LICENSED, dtype: int64
VEHICLE_YEAR
2005.0    25716
2004.0    24390
2006.0    16436
2003.0    14116
2007.0     7085
2002.0     5770
2008.0     2127
2001.0     2088
2000.0      738
2009.0      615
1999.0      275
2010.0      181
1998.0      119
1997.0       83
2011.0       79
1996.0       51
1995.0       40
2012.0       34
1994.0       21
1993.0       13
2013.0       11
2015.0        6
2014.0        5
2016.0        1
Name: VEHICLE_YEAR, dtype: int64
NUMBER_OF_DRIVERS
1.0    68385
2.0    29489
3.0     1460
4.0      501
5.0      140
6.0       23
7.0        1
8.0        1
Name: NUMBER_OF_DRIVERS, dtype: int64
NUMBER_OF_VEHICLES
2.0    58281
1.0    37847
3.0     3837
4.0       31
5.0        3
6.0        1
Name: NUMBER_OF_VEHICLES, dtype: int64
DEDUCTIBLE_DCPD
0.0      95258
500.0     4742
Name: DEDUCTIBLE_DCPD, dtype: int64
AT_FAULT_CLAIMS
0.0    72273
1.0    27726
2.0        1
Name: AT_FAULT_CLAIMS, dtype: int64
NOT_AT_FAULT_CLAIMS
0.0    70349
1.0    28965
2.0      674
3.0       11
4.0        1
Name: NOT_AT_FAULT_CLAIMS, dtype: int64
MINOR_CONVICTIONS
0.0    86371
1.0    13582
2.0       38
3.0        5
4.0        4
Name: MINOR_CONVICTIONS, dtype: int64
MAJOR_CONVICTIONS
0.0    99343
1.0      657
Name: MAJOR_CONVICTIONS, dtype: int64
SERIOUS_CONVICTIONS
0.0    99386
1.0      614
Name: SERIOUS_CONVICTIONS, dtype: int64
INCURRED_LOSS_DCPD
0        94842
17719        6
17773        6
17838        6
18188        6
         ...
9569         1
9505         1
19692        1
17581        1
16152        1
Name: INCURRED_LOSS_DCPD, Length: 3570, dtype: int64
GENDER
0    72536
1    27464
Name: GENDER, dtype: int64
DRIVER_MARTIAL_STATUS
0    51767
1    48233
Name: DRIVER_MARTIAL_STATUS, dtype: int64
DRIVER_TRAINING_IND
0    99222
1      778
Name: DRIVER_TRAINING_IND, dtype: int64
VEHICLE_AGE
0    99222
1      778
Name: VEHICLE_AGE, dtype: int64

In [13]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

y = df['INCURRED_LOSS_DCPD']
X = pd.DataFrame(scaler.fit_transform(df), columns=df.columns).drop(labels='INCURRED_LOSS_DCPD',axis=1)

X

,AGE,YEARS_WITH_COMPANY,DAILY_KILOMETERS,YEARS_LICENSED,VEHICLE_YEAR,NUMBER_OF_DRIVERS,NUMBER_OF_VEHICLES,DEDUCTIBLE_DCPD,AT_FAULT_CLAIMS,NOT_AT_FAULT_CLAIMS,MINOR_CONVICTIONS,MAJOR_CONVICTIONS,SERIOUS_CONVICTIONS,GENDER,DRIVER_MARTIAL_STATUS,DRIVER_TRAINING_IND,VEHICLE_AGE
0,0.410959,0.217391,0.064516,0.365385,0.391304,0.000000,0.2,0.0,0.0,0.00,0.00,0.0,0.0,1.0,0.0,0.0,0.0
1,0.506849,0.260870,0.021505,0.423077,0.521739,0.142857,0.2,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
2,0.589041,0.260870,0.075269,0.596154,0.478261,0.000000,0.0,0.0,0.5,0.25,0.25,0.0,0.0,1.0,0.0,0.0,0.0
3,0.315068,0.173913,0.118280,0.211538,0.478261,0.000000,0.0,0.0,0.0,0.00,0.00,0.0,0.0,1.0,1.0,0.0,0.0
4,0.630137,0.304348,0.032258,0.653846,0.565217,0.142857,0.2,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.561644,0.173913,0.139785,0.576923,0.434783,0.000000,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,1.0,0.0,0.0
99996,0.561644,0.391304,0.043011,0.557692,0.434783,0.142857,0.2,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
99997,0.657534,0.434783,0.010753,0.596154,0.521739,0.000000,0.2,0.0,0.0,0.00,0.00,0.0,0.0,0.0,1.0,0.0,0.0
99998,0.561644,0.391304,0.064516,0.461538,0.565217,0.142857,0.2,0.0,0.0,0.00,0.00,0.0,0.0,0.0,1.0,0.0,0.0
99999,0.493151,0.347826,0.043011,0.403846,0.565217,0.142857,0.2,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state = rs)

X_val, X_test, y_val, X_test = train_test_split(X_test,y_test, test_size=0.5, random_state = rs)

In [ ]:
from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV

params = {
        'max_depth': [2, 3, 5, 7, 9, 11],
        'n_estimators': [1000],
        'min_child_weight': [100, 500, 1000, 5000, 10000], 
        'colsample_bytree': [0.4, 0.6, 0.8], 
        'subsample': [0.4, 0.6, 0.8], 
        'learning_rate': [0.1, 0.2, 0.3, 0.4],    
        'random_state': [rs]
    }

xgb = GridSearchCV(XGBRegressor(), cv=3, param_grid=params, verbose=2, n_jobs=-1)


xgb.fit(
    X_train, 
    y_train, 
    eval_metric="rmse", 
    eval_set=[(X_train, y_train), (X_val, y_val)], 
    verbose=True, 
    early_stopping_rounds = 10)

Fitting 3 folds for each of 1080 candidates, totalling 3240 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   31.6s

In [ ]:
from sklearn.metrics import accuracy_score

y_pred = xgb.best_estimator_.predict(X_test)

accuracy_score(y_pred,y_text)